/* 主题颜色 */
$main-color: #f3f5f9;

/* 白色 */
$white: #ffffff;

/* 底部border颜色 */
$border-bottom-color: #f3f5f9;
$header-height: 40px;

/* 有关钱的数字颜色 */
$money-color: rgba(255, 65, 51, 1);

$test: env(safe-area-inset-bottom, 20px);
